.post {
  margin: 1rem 0;

  a {
    background-color: antiquewhite;
    padding: 1rem;
    text-decoration: none;
    display: block;
    color: black;
  }
  a:hover {
    background-color: azure;
  }
}
