.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 50px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    li {
      list-style: none;
      margin-right: 14px;
      margin-left: 14px;
    }
  }
}

.nav-link {
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  padding-bottom: 3px;
  color: #180d2c;

  &.active {
    border-bottom: 3px solid #a5e5b0;
  }
}

